<!DOCTYPE html>
{% load static %}
{% load HarrisMclennan_template_tags %}

<html lang="en">

<head>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="stylesheet" href="{% static 'style/theme.css' %}">
    {% block extra_style_sheet %} {% endblock %}

    <title>
        {% block title %}
        Harris Mclennan
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <div id="bottom-header-section">
            <a href="{% url 'HarrisMclennan:index' %}">
                <img src="{% static 'images/350z.png' %}" alt="scorch.jpeg" id="logo">
            </a>
            <h1>
                <a href="{% url 'HarrisMclennan:index' %}"> Harris Mclennan </a>
            </h1>
            <div id="navigation-links">
                <a href="{% url 'HarrisMclennan:comments_display' %}">Comments</a>
                <a href="{% url 'HarrisMclennan:add_comment' %}">Post Comment</a>
                <a href="{% url 'HarrisMclennan:harris_run' %}">Harris Run Game</a>
                <a href="{% url 'HarrisMclennan:scoreboard' %}">Scoreboard</a>
            </div>
        </div>
    </header>

    <div id="main-body">
        {% block main_content %} No body block found{% endblock %}
    </div>

    <footer>
        <a href="{% url 'HarrisMclennan:index' %}">Home</a>
        <a href="https://www.autotrader.co.uk/">Autotrader</a>
        <a href="https://www.tiktok.com/search?q=young%20shelden%20brainrot%20quiz&t=1726946769733">Nourishment</a>
    </footer>

    {% block extra_js %} {% endblock %}

</body>

</html>