<!DOCTYPE html>
{% load static %}
{% load HarrisMclennan_template_tags %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="stylesheet" href="{% static 'style/theme.css' %}">
    {% block extra_style_sheet %} {% endblock %}

    <title>
        {% block title %}
        Harris Mclennan
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <div id="bottom-header-section">
            <a href="">
                <img src="{% static 'images/350z.png' %}" alt="scorch.jpeg" id="logo">
            </a>
            <h1>
                <a href="{% url 'HarrisMclennan:index' %}"> Harris Mclennan </a>
            </h1>
            <div id="navigation-links">
                <a href="{% url 'HarrisMclennan:comments_display' %}">Comments</a>
                <a href="{% url 'HarrisMclennan:add_comment' %}">Post Comment</a>
                <a href="">Harris Run Game</a>
            </div>
        </div>
    </header>

    <div id="main-body">
        {% block main_content %} No body block found{% endblock %}
    </div>

    <footer>
        <a href="{% url 'HarrisMclennan:index' %}">Home</a>
        <a href="">Users</a>
        <a href="">Profile</a>
        <div id="support-us">
            <span>Support Us:</span>
            <a href="https://www.tiktok.com/@gufilmsociety">TikTok</a>
            <a href="https://www.youtube.com/channel/UC3ZZNaKIOgTL1W3QsRmA-HA">YouTube</a>
            <a href="https://www.instagram.com/gufilmmaking/">Instagram</a>
        </div>
    </footer>

    {% block extra_js %} {% endblock %}

</body>

</html>