{% extends 'HarrisMclennan/base.html' %}
{% load static %}

{% block extra_style_sheet %}
    <link rel="stylesheet" href="{% static 'style/comments_display.css' %}">
{% endblock %}
{% block title %}
    Comments
{% endblock %}

{% block main_content %}

    <div class="search-results-section">
        <h2>Comments:</h2>
        {% for result in search_results %}
            <div class="result" onclick="this.requestFullscreen()">
                <h3>Anonymous Commenter @{{ result.time_posted }} says:</h3>
                <div> <pre>{{ result.comment_content|safe }}</pre>> </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}