{% extends "HarrisMclennan/base.html" %}
{% load static %}
{% load HarrisMclennan_template_tags %}


{% block title %}
Home
{% endblock %}

{% block extra_style_sheet %}
<link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock %}

{% block main_content %}
    <div id="home-page">
        <div id="about">
            <img src="{% static  'images/hard.png' %}" alt="Pic that goes hard" id="home-photo" onclick="this.requestFullscreen()" >
        </div>
    </div>

    <div class="popular-posts">
        <div class="posts">
            <h2>Recent Comments</h2>
            {% for result in recent_comments %}
                <div class="post" onclick="window.location.href = ''">
                    <h3>Anonymous Commenter @{{ result.time_posted }}</h3>
                    <p>Comment: {{ result.comment_content }}</p>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}