.canvas-container {
display: flex;
justify-content: center; /* Centers horizontally */
align-items: center;     /* Centers vertically */         /* Full viewport height */
}

canvas {
display: block;
}

#gaming{
  background-image: url("../scripts/assets/misc/bt-7247.png");
  display: flex;
  justify-content: center; /* Centers horizontally */
  width:60%;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  margin: 5px auto 20px;
  position: relative;
  
  border:12px solid #ff0000;
}

#game-screen{
  margin: 10px;
	background-image: url("../scripts/assets/misc/bohr.jpg");
  border:1px solid #000000;
}
