#home-photo {
    padding: 15px;
    width: 100%;             /* Full width of the screen */
    height: 80vh;            /* 80% of the viewport height */
    object-fit: cover;
    border-radius: 25px;
    float: left;
}

#about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-text h2 {
    margin-bottom: 10px;
    text-align: center;
}

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}


.popular-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    width: 90%;
    height: auto;
}

.post {
    font-size: 1.5em;
    width: 80%;
    border: 1px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.post:hover {
    border: 3px solid black;
    transform: scale(1.1);
}

.post img {
    height: 30px;
    width: auto;
}

.thumbnail {
    width: 40px;
    height: auto;
}