/* theme.css */

/* Body background and text color */
body {
    background-color: #f2f2f2;
    /* Light grey background */
    color:#B6361F;
    /* Dark grey text color */
}

/* Header styles */
header {
    background-color: #14591D;
    /* Dark purple background */
    color: #fff;
    /* White text color */
    border: 3px solid #0A210F;
}

body{
    background-color: 	#70C1B3;
}

/* Navigation links */
#navigation-links a {
    color: #fff;
    /* White text color for navigation links */
}

/* Footer styles */
footer {
    background-color: 	#0A210F;
    /* Dark background color for footer */
    color: #fff;
    /* White text color */
    border: 3px solid #14591D;
}

/* Support links */
#support-us a {
    color: #fff;
    /* White text color for support links */
}

h3{
    color: #873122;
}